@CHARSET "UTF-8";

body {
    font-family: Liberation Serif;
    font-size: 12pt;
}

strong {
    font-weight: bold;
}

.clear {
    clear: both;
}

img.logo {
    float: left;
    vertical-align: top;
    width: 100pt;
}

.header h1, .header h3 {
    text-align: center;
}
